:root{
    --background-section:#0E0E0E;
    
    --background-card: #99c3ff;
    --letter-card:#000;
    --border: #2d2f31;
}



/* Only Homepage styles */
html{
    color-scheme: dark light;
    
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  

}

header{
    width: 100%;
    background-color:var(--background-section);
    border-bottom: 1px solid var(--border);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
       
}
.logotype{
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0.8;
    transition: 0.2s ease;
        & a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            opacity: 1;
        }
    }


.additional_resources{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    
    
    
    & li{
        display: flex;
        padding: 0 15px;
        align-items: center;
        gap: 10px;
        justify-content: center;
       
        & a{
            text-decoration: none;
            color: white;
        }
        
        & span{
            font-size: 24px;
        }
        & p{
            margin: 0;
            font-weight: 500;
            cursor: default;
        }
    }
    
}

.switch{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.slider {
    appearance: none;
    position: relative;
    display: inline-block;
    background: #FFDDAE;
    height: 1.25rem;
    width: 2.75rem;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.25s linear background;
      &.slider:checked{
        background-color: #133E87; 
      }
  }
  .slider::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #FBFBFB ;
    border-radius: 1.2rem;
    position: absolute;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
       
  }

  .slider:checked::before{
    transform: translateX(1.5rem);
}

main{
    display:flex;
    align-items: center;
    justify-content: center;
}